
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

a, button, input, label {
  border: none;
  border-style: none;
  background: none;
  outline: none;
  cursor: pointer;
}

body,
a,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, button {
  cursor: pointer;
}

input {
  cursor: text;
}


