@media (max-width: 1600px) {


}

@media (max-width: 1400px) {

}

@media (max-width: 992px) {

  .header__search.is-open {
    width: calc(100% - 100px);
  }

  .block__search.is-open {
    width: 100%;
  }
}

@media (max-width: 720px) {


}

@media (max-width: 576px) {


}

.display-none {
  display: none;
}
